<header class="site-header">
  <div class="site-header__inner">
    <a href="/" class="site-header__identity">
      <img src="/assets/images/surafelml_gh_avatar.jpeg" alt="Surafel M. Lakew" class="site-header__avatar">
      <span class="site-header__name"><span class="name-full">Surafel M. Lakew</span><span class="name-short">Surafel</span></span>
    </a>
    <nav class="site-header__nav">
      {% for item in site.data.navigation.main %}
        {% unless item.title == "Home" %}
          <a href="{{ item.url | relative_url }}">{{ item.title }}</a>
        {% endunless %}
      {% endfor %}
    </nav>
  </div>
</header>
